body{
    background-color: rgba(2, 0, 30, 0.8);
    color: rgba(255, 255, 255, .8);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, sans-serif;
    line-height:1.3;
    margin:0;
    padding:3vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

a, a:visited {
    color: white;
}

ul{
    list-style-type: none;
}

p, ul {
    max-width: 80ch;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3vw;
}
